.main{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.image{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    align-items: center;
}
.image img{
    max-width: 400px;
}
.content{
    align-items: left;
}
.content h1{
    font-size: 32px;
    font-weight: bold;
    max-width: 340px;
}
.content p{
    font-size: 16px;
    font-weight: lighter;
    max-width: 290px;
    word-wrap: overflow-wrap;   
}